In [140]:
# Import necessary packages and data
import csv
from string import letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from __future__ import division

#pandas-jupyter screen output settings
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

height has been deprecated.

In [141]:
filepath="home_data.csv"
data=pd.read_csv(filepath,sep=",")
data.describe()

                 id           price      bedrooms     bathrooms   sqft_living        sqft_lot        floors    waterfront          view     condition         grade    sqft_above  sqft_basement      yr_built  yr_renovated       zipcode           lat          long  sqft_living15     sqft_lot15
count  2.161300e+04    21613.000000  21613.000000  21613.000000  21613.000000    21613.000000  21613.000000  21613.000000  21613.000000  21613.000000  21613.000000  21613.000000   21613.000000  21613.000000  21613.000000  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   4.580302e+09   540088.141905      3.370842      2.114757   2079.899736    15106.967566      1.494309      0.007542      0.234303      3.409430      7.656873   1788.390691     291.509045   1971.005136     84.402258  98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std    2.876566e+09   367127.195968      0.930062      0.770163    918.440897    41420.511515      0.539989      0.086517      0.766318      0.650743      1.175459    828.090978     442.575043     29.373411    401.679240     53.505026      0.138564      0.140828     685.391304   27304.179631
min    1.000102e+06    75000.000000      0.000000      0.000000    290.000000      520.000000      1.000000      0.000000      0.000000      1.000000      1.000000    290.000000       0.000000   1900.000000      0.000000  98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    2.123049e+09   321950.000000      3.000000      1.750000   1427.000000     5040.000000      1.000000      0.000000      0.000000      3.000000      7.000000   1190.000000       0.000000   1951.000000      0.000000  98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    3.904930e+09   450000.000000      3.000000      2.250000   1910.000000     7618.000000      1.500000      0.000000      0.000000      3.000000      7.000000   1560.000000       0.000000   1975.000000      0.000000  98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    7.308900e+09   645000.000000      4.000000      2.500000   2550.000000    10688.000000      2.000000      0.000000      0.000000      4.000000      8.000000   2210.000000     560.000000   1997.000000      0.000000  98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    9.900000e+09  7700000.000000     33.000000      8.000000  13540.000000  1651359.000000      3.500000      1.000000      4.000000      5.000000     13.000000   9410.000000    4820.000000   2015.000000   2015.000000  98199.000000     47.777600   -121.315000    6210.000000  871200.000000

In [10]:
def findGroupByMean(df,meanVec,groupbyVec):
    gmDf=pd.DataFrame(df[meanVec].groupby(data[groupbyVec]).apply(lambda x: x.mean()).sort_values())
    gmDf.reset_index(level=0, inplace=True)
    gmDf=gmDf.rename(columns = {0:meanVec})
    return gmDf

In [27]:
findGroupByMean(data,'price','zipcode').sort()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

    zipcode           price
0     98002   234284.035176
1     98168   240328.371747
2     98032   251296.240000
3     98001   280804.690608
4     98148   284908.596491
5     98023   286732.791583
6     98188   289078.345588
7     98003   294111.278571
8     98030   296187.980469
9     98031   300539.890511
10    98198   302878.882143
11    98055   304262.108209
12    98178   310612.755725
13    98042   311632.105839
14    98022   315709.303419
15    98106   319581.394030
16    98092   334921.062678
17    98058   353608.635165
18    98108   355678.516129
19    98146   359483.239583
20    98038   366867.600000
21    98133   386997.396761
22    98118   417637.433071
23    98056   420890.549261
24    98010   423665.990000
25    98155   423725.695067
26    98126   424706.355932
27    98019   424788.747368
28    98045   439471.081448
29    98014   455617.112903
30    98028   462480.035336
31    98166   464231.838583
32    98125   469455.770732
33    98070   487479.627119
34    98011   490351.466667
35    98059   493552.521368
36    98034   521652.858716
37    98065   527961.203226
38    98136   551688.673004
39    98072   569958.457875
40    98117   576795.007233
41    98107   579053.417293
42    98024   580526.790123
43    98103   584919.210963
44    98144   594547.641399
45    98029   612653.610592
46    98027   616990.587379
47    98007   617105.085106
48    98116   618634.178788
49    98115   619900.550600
50    98122   634360.175862
51    98052   645231.452962
52    98008   645507.378092
53    98177   676185.392157
54    98053   678163.059259
55    98077   682774.878788
56    98074   685605.775510
57    98075   790576.668524
58    98199   791820.832808
59    98033   803719.532407
60    98005   810164.880952
61    98119   849448.010870
62    98006   859684.763052
63    98105   862825.231441
64    98109   879623.623853
65    98102   901258.238095
66    98112  1095499.368030
67    98040  1194230.003546
68    98004  1355927.097792
69    98039  2160606.600000

In [24]:
#question 1
data.loc[data["zipcode"]==98039]["price"].mean()

2160606.6

In [52]:
#question 2
data.loc[(data["sqft_living"]>2000) & (data["sqft_living"]<4000) ].shape[0]/21613

0.4215518437977143

In [252]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
X=data[my_features]
y=data["price"]
type(y)

pandas.core.series.Series

In [253]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.80434, random_state=0)
print( X_test.shape,y_train.shape)

((4229, 6), (17384,))

In [254]:
#simple LR with some variable
from sklearn.linear_model import LinearRegression
linreg=LinearRegression(normalize=False)
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [255]:
#find intercept and coefficients
print linreg.intercept_
zip(my_features, linreg.coef_)

-60285194.8661

[('bedrooms', -56522.415218323775),
 ('bathrooms', 11656.965157178089),
 ('sqft_living', 319.63442886162528),
 ('sqft_lot', -0.28801310298323646),
 ('floors', -2162.57114749625),
 ('zipcode', 615.18434452395104)]

In [257]:
#test error
y_pred=linreg.predict(X_test)
from sklearn import metrics
np.sqrt(metrics.mean_squared_error(y_test,y_pred))

242868.57951630626

In [258]:
#Multiple Linear regression
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house
'grade', # measure of quality of construction
'waterfront', # waterfront property
'view', # type of view
'sqft_above', # square feet above ground
'sqft_basement', # square feet in basement
'yr_built', # the year built
'yr_renovated', # the year renovated
'lat', 'long', # the lat-long of the parcel
'sqft_living15', # average sq.ft. of 15 nearest neighbors
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

X=data[advanced_features]
y=data["price"]
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.80434,random_state=0)
mlr=LinearRegression()
mlr.fit(X_train,y_train)
print mlr.intercept_
zip(advanced_features,mlr.coef_)

4374349.72706

[('bedrooms', -34526.339539892484),
 ('bathrooms', 39961.969824632208),
 ('sqft_living', 112.15893534843872),
 ('sqft_lot', 0.17518694121749762),
 ('floors', 7868.0657015785573),
 ('zipcode', -568.10818923493184),
 ('condition', 26046.963168609931),
 ('grade', 93595.754706528736),
 ('waterfront', 599447.81949278386),
 ('view', 53219.210567299771),
 ('sqft_above', 72.679832263700206),
 ('sqft_basement', 39.47910348670554),
 ('yr_built', -2629.114223279837),
 ('yr_renovated', 19.762884983308524),
 ('lat', 605858.89417398535),
 ('long', -221162.46524438856),
 ('sqft_living15', 24.358162615722243),
 ('sqft_lot15', -0.46692964442980978)]

In [259]:
#test error on mlr
y_pred=mlr.predict(X_test)
np.sqrt(metrics.mean_squared_error(y_test,y_pred))

189984.31866040855

In [243]:
#my answer
244004.7-190473.3

53531.40000000002

In [242]:
#exact answer by sframe= 
179542.4333126908-166703.94733205126

12838.485980639525